node_modules
.env
coverage
coverage.json
typechain
typechain-types
.vscode
layers
old contracts
layergenerator

# Images
MotionElements_earth-loop-animation.gif
neonfutrestkgif.gif
# Hardhat files
cache
artifacts

